body {background-color:black;
      background-image:radial-gradient(at 90% 0%,rgba(255, 234, 0, 0.689) 0px,transparent 30%),
                       radial-gradient(at 90% 10%,rgba(0, 0, 0, 0) 0px,transparent 60%);
                      
                      
                       
                       
                      
    
     } 
 
.intro{
    background-color:lightgrey;
    width: 1100px;
    height: 600px;
    margin :40px 40px;
    padding:30px;
      }

  #link{
    display:inline-block;
    background-color: black;
    color:rgb(154, 17, 17);
    border-radius:90px;
    margin-top:50px;
    padding:12px 28px;
    text-decoration: none;
}
